{% extends 'base.html'%}
{% load static%}
{% block style%}
    <link rel="stylesheet" href="{% static "my_syte/post-detail.css" %}">
{%endblock%}
{% block title%}{{post.title|upper}}{%endblock%}
{% block content%}

{% if form.errors %}
    <div id = 'alert'>

        <h2>Saving comment failed!</h2>
        <h2>fix the invalid inputs</h2>
        <a href = '#comment-form'>fix</a>
    </div>
{% endif%}
<section id="summary">

    

    <h2>{{post.title}}</h2>

    <div>
        {% for tag in post.tag.all%}
            <span class="tag" >{{tag}}</span>
        {% endfor %}
    </div>
    
    <div id = 'read-later'>
        <form action = '{% url "read-later" post.slug %}'>
            <button type='submit'>
                {%if  is_read_later %}Remove from read later list
                {% else %}Read later {% endif %} </button>
        </form>
    </div>
    
    
    <article>
        <img src= "{{post.image.url}}" alt="{{post.title}}">
        <a href="{{post.author.get_absolute_url}}">{{post.author}}</a>
        <div>Last updated on <time>{{post.date}}</time></div>
    </article>


</section>

<main>
    <p>
        {{post.content|linebreaks}}
    </p>
</main>

<section id = 'comments'>
    {% for comment in comments%}
            <li>
                <h2>{{comment.username}}</h2>
                <p>{{comment.content|linebreaks}}</p>

                </li>
        {% endfor %}
</section>

<section id='comment-form'>
    
    <form action = '' method='POST'>
        {% csrf_token %}
        <div id='form-control {%if form.errors %}invalid{% endif %}'>
        <h2>Leave Comment</h2>
        {{form}}
        <button type='submit'>Send</button>
        </div>
    </form>
</section>
{%endblock%}