{% extends 'base.html'%}
{% load static%}
{% block style%}
    <link rel="stylesheet" href="{% static "my_syte/post-detail.css" %}">
{%endblock%}
{% block title%}{{post.title|upper}}{%endblock%}
{% block content%}
<section id="summary">

    <h2>{{post.title}}</h2>

    <div>
        {% for tag in post.tag.all%}
            <span class="tag" >{{tag}}</span>
        {% endfor %}
    </div>
    
    <article>
        <img src= "{{post.image.url}}" alt="{{post.title}}">
        <a href="{{post.author.get_absolute_url}}">{{post.author}}</a>
        <div>Last updated on <time>{{post.date}}</time></div>
    </article>
</section>

<main>
    <p>
        {{post.content|linebreaks}}
    </p>
</main>


<section id='comment'>
    
    <form action = '' method='POST'>
        {% csrf_token %}
        <label>Leave Comment</label>
        {{form.username.label}}
        {{form.username}}
        {{form.content.label}}
        {{form.content}}
    <button type='submit'>Send</button>
    </form>
</section>
{%endblock%}